doctype html
html
  body
    h1#timer
  script.
    var tmpl = '{name} {time}'
    var sse = new EventSource('/subscribe')
    var el = document.querySelector('#timer')

    sse.addEventListener('change', function (ev) {
      data = JSON.parse(ev.data)
      el.innerText = tmpl
        .replace('{name}', data.name)
        .replace('{time}', data.time)
    })
